<% content_for :specific_stylesheets do %>
  <%= stylesheet_link_tag "active_admin" %>
<% end %>
<div id="wrapper">
  <div id="content_wrapper">
    <div id="active_admin_content">
      <div id="login">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <fieldset class="inputs">
            <ol>
              <li class="email input required autofocus stringish">
                <%= f.label :email, class: "label" %>
                <%= f.email_field :email, autofocus: true %>
              </li>
              <li>
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" %>
              </li>
              <% if devise_mapping.rememberable? -%>
              <li class="boolean input optional">
                <%= f.label :remember_me  do %>
                  <%= f.check_box :remember_me %>
                  Remember me
                <% end %>
              </li>
              <% end -%>
            </ol>
          </fieldset>
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
