<!DOCTYPE html>
<html>
<head>
  <title>Pixela store</title>
  <%= csrf_meta_tags %>
  <meta name=viewport content="width=device-width, minimum-scale=1, maximum-scale=1">
  <%= yield :specific_stylesheets %>
</head>
<body class="active_admin logged_out new">

<%= yield %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<%= yield :specific_javascripts %>
</body>
</html>
